<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - colis.tn</title>
    <!-- Inclure vos liens vers les fichiers CSS et JavaScript ici -->
    <link rel="stylesheet" href="/src/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1>colis.tn</h1>
                <ul>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#tarifs">Tarifs</a></li>
                    <li><a href="/src/app/contact">Contact</a></li>
                    <li><a href="/src/app/login">Login</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Livraison Rapide et Fiable</h2>
            <p>Confiez-nous la livraison de vos colis en toute confiance.</p>
            <a href="#contact" class="btn-primary">Contactez-nous</a>
        </div>
    </section>

    <section id="services" class="services">
        <div class="container">
            <h2>Nos Services</h2>
            <div class="service">
                <h3>Service de Livraison Rapide</h3>
                <p>Nous offrons des services de livraison express pour vous assurer que vos colis arrivent à temps.</p>
            </div>
            <div class="service">
                <h3>Service de Suivi en Temps Réel</h3>
                <p>Notre système de suivi en temps réel vous permet de suivre la progression de votre livraison.</p>
            </div>
        </div>
    </section>

    <section id="tarifs" class="tarifs">
        <div class="container">
            <h2>Nos Tarifs</h2>
            <p>Nos tarifs compétitifs vous permettent d'économiser tout en bénéficiant d'une livraison de qualité.</p>
        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container">
            <h2>Contactez-nous</h2>
            <p>Pour toutes questions ou demandes de service, n'hésitez pas à nous contacter.</p>
            <a href="mailto:contact@livreurexpress.com" class="btn-primary">Envoyer un Email</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 colis.tn. Tous droits réservés.</p>
        </div>
    </footer>

    <!-- Inclure vos liens vers les fichiers JavaScript ici -->

</body>
</html>
